<h1>Example demonstrating how streaming doesn't work with CSRF</h1>
<% if params[:no_stream] -%>
  <p>Using non streaming version. <%= link_to 'Access stream version', root_path %></p>
<% else -%>
  <p>Using stream version. <%= link_to 'Access non streaming page', root_path(no_stream: true) %></p>
<% end -%>
<button>Click me</button>
